@media(min-width: 560px){
    body{
        font-family: 'Poppins';
        background-color: #050A24;
        margin: 0px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100vh;

    }
    a{
        color: #1570EF;
        text-decoration: none; 
        transition: color 0.3s ease;
    }
    a:hover{
        color: #050A24;
    }
    #forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-color: #ffffff;
        width: 540px;
        height: 660px;
        border-radius: 20px;
    }
    #titulo-forms{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 48px 0 0 0;
        width: 396px;
        height: 28px;
    }
    h1{
        color: #101828;
        font-size: 28px;
        font-weight: 600;
        padding: 0;
        margin: 0px;

    }
    input{
        margin-top: 12px;
        border: 1px;
        border-radius: 8px; 
        border-style: solid;
        border-color: #D0D5DD;
        color: #344054;
        width: 380px;
        height: 48px;
        padding-left: 16px;
    }
    input::placeholder{
        font-family: 'Poppins';
        color: #98A2B3;
    }
    #preenchimento-forms{
        width: 396px;
        height: 176px;
    }
    h2{
        margin: 0;
        width: fit-content;
        color: #344054;
        font-size: 16px;
        font-weight: 400;
    }
    #h2-email{
        margin-top: 24px;
    }
    #h2-senha{
        margin-top: 24px;
        display: flex;
        flex: content;
        flex-direction: row;
        justify-content: space-between;
    }
    #entrar-cadastro{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #entrar{
        font-size: 16px;
        font-weight: 600;
        width: 396px;
        height: 52px;
        background-color: #1570EF;
        color: #FCFCFD;
        border: none;
        border-radius: 8px;
        transition: background-color 0.4s;
    }
    #entrar:hover{
        background-color: #050A24;
        cursor: pointer;
    }
    h3{
        width: fit-content;
        color: #98A2B3;
        font-size: 16px;
        font-weight: 400;
    }
}
@media (max-width: 559px){

    body{
        font-family: 'Poppins';
        background-color: #050A24;
        margin: 0px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100vh;

    }
    a{
        color: #1570EF;
        text-decoration: none;
    }
    #forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        background-color: #ffffff;
        width: 288px;
        height: 476px;
        border-radius: 20px;
    }
    #titulo-forms{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 24px 0 0 0;
        width: 256px;
        height: 20px;
    }
    h1{
        color: #101828;
        font-size: 20px;
        font-weight: 600;
        padding: 0;
        margin: 0px;

    }
    input{
        margin-top: 12px;
        border: 1px;
        border-radius: 8px; 
        border-style: solid;
        border-color: #D0D5DD;
        color: #344054;
        width: 240px;
        height: 48px;
        padding-left: 16px;
    }
    #preenchimento-forms{
        width: 256px;
        height: 176px;
    }
    h2{
        margin: 0;
        width: fit-content;
        color: #344054;
        font-size: 14px;
        font-weight: 400;
    }

    #h2-senha{
        margin-top: 24px;
        display: flex;
        flex: content;
        flex-direction: row;
        justify-content: space-between;
    }
    #entrar-cadastro{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #entrar{
        font-size: 16px;
        font-weight: 600;
        width: 256px;
        height: 48px;
        background-color: #1570EF;
        color: #FCFCFD;
        border: none;
        border-radius: 8px;

    }
    h3{
        width: fit-content;
        color: #98A2B3;
        font-size: 12px;
        font-weight: 400;
    }

}