@media(min-width: 560px){
    body{
        font-family: 'Poppins';
        background-color: #050A24;
        margin: 0px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100vh;

    }
    .error {
        display: none;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        color: red;
        background-color: rgb(255, 206, 190);
        border-radius: 0px 0px 4px 4px;
        padding-left: 4px;
    }
    a{
        color: #1570EF;
        text-decoration: none; 
        transition: color 0.3s ease;
    }
    a:hover{
        color: #050A24;
    }
    #bloco-forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-color: #ffffff;
        width: 540px;
        height: fit-content;
        border-radius: 20px;
    }
    #titulo-forms{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 48px 0 0 0;
        width: 396px;
        height: 28px;
    }
    h1{
        color: #101828;
        font-size: 28px;
        font-weight: 600;
        padding: 0;
        margin: 0px;

    }
    input{
        margin-top: 12px;
        border: 1px;
        border-radius: 8px 0px 8px 0px; 
        border-style: solid;
        border-color: #D0D5DD;
        color: #344054;
        width: 380px;
        height: 48px;
        padding-left: 16px;
    }
    input::placeholder{
        font-family: 'Poppins';
        color: #98A2B3;
    }
    #preenchimento-forms{
        gap: 32px;
    }
    h2{
        margin: 0;
        width: fit-content;
        color: #344054;
        font-size: 16px;
        font-weight: 400;
    }
    #enviar-cadastro{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #enviar{
        font-size: 16px;
        font-weight: 600;
        width: 396px;
        height: 52px;
        background-color: #1570EF;
        color: #FCFCFD;
        border: none;
        border-radius: 8px;
        transition: background-color 0.4s;
    }
    #enviar:hover{
        background-color: #050A24;
        cursor: pointer;
    }
    h3{
        width: fit-content;
        color: #98A2B3;
        font-size: 16px;
        font-weight: 400;
    }
    .segmento-forms {
        margin-top: 24px;
        z-index: 2;
    }
    #nome-forms {
        margin-top: 0px;
    }
    
    
}
@media (max-width: 559px){

    body{
        font-family: 'Poppins';
        background-color: #050A24;
        margin: 0px;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center; 
        height: 100vh;

    }
    .error {
        display: none;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        color: red;
        background-color: rgb(255, 206, 190);
        border-radius: 0px 0px 4px 4px;
        padding-left: 4px;
        width: 60vw;
    }
    a{
        color: #1570EF;
        text-decoration: none; 
        transition: color 0.3s ease;
    }
    a:hover{
        color: #050A24;
    }
    #bloco-forms{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        background-color: #ffffff;
        width: fit-content;
        height: fit-content;
        border-radius: 20px;
        padding: 0 16px 0 16px;
        margin: 120px 36px 60px 36px
    }
    #titulo-forms{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 48px 0 0 0;
        width: 100%;
        height: 28px;
    }
    h1{
        color: #101828;
        font-size: 28px;
        font-weight: 600;
        padding: 0;
        margin: 0px;

    }
    input{
        margin-top: 12px;
        border: 1px;
        border-radius: 8px 0px 8px 0px; 
        border-style: solid;
        border-color: #D0D5DD;
        color: #344054;
        width: 90%;
        height: 48px;
        padding-left: 16px;
    }
    input::placeholder{
        font-family: 'Poppins';
        color: #98A2B3;
    }
    #preenchimento-forms{
        width: 71vw;
        gap: 32px;
    }
    h2{
        margin: 0;
        width: fit-content;
        color: #344054;
        font-size: 16px;
        font-weight: 400;
    }
    #enviar-cadastro{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #enviar{
        font-size: 16px;
        font-weight: 600;
        width: 100%;
        height: 52px;
        background-color: #1570EF;
        color: #FCFCFD;
        border: none;
        border-radius: 8px;
        transition: background-color 0.4s;
    }
    #enviar:hover{
        background-color: #050A24;
        cursor: pointer;
    }
    h3{
        width: fit-content;
        color: #98A2B3;
        font-size: 16px;
        font-weight: 400;
    }
    .segmento-forms {
        margin-top: 24px;
    }
    #nome-forms {
        margin-top: 0px;
    }
    

}